<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}! This is a component from Angular 6
    </h1>

</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Angular Router</h1>
            <nav>
                <a routerLink="/masterlist" routerLinkActive="active">Master List</a>
                <a routerLink="/mymasters" routerLinkActive="active">My Masters</a>
                <a routerLink="/editmaster/1" routerLinkActive="active">Edit Master</a>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>


    <!--<div class="row">
        <div class="col-md-4">
            <app-masterlist></app-masterlist>
        </div>
        <div class="col-md-4">
            <app-add-my-master></app-add-my-master>
        </div>
        <div class="col-md-4">
            <app-create-master></app-create-master>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-remove-my-master></app-remove-my-master>
        </div>
        <div class="col-md-4">
            <app-edit-master></app-edit-master>
        </div>
        <div class="col-md-4">
            <app-mymasters></app-mymasters>
        </div>
    </div>-->
</div>

 

